<header id ="site-header" class="fixed-top z-3">
<nav class="navbar navbar-expand-lg bg-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_page'%}">MyBus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_page'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_page' %}">about</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_page' %}">contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
            {{user.username.capitalize}}
            {% else %}
            Accounts
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </li>
            <li>
              <a href="{% url 'booking:bookings' %}" class="dropdown-item">My Tickets</a>
            </li>

            {% else %}
            <li><a class="dropdown-item" href="{% url 'signin' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- Site Management -->
         {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Staff Access
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'carousels_page' %}">Carousel</a></li>
            
            <li><a class="dropdown-item" href="{% url 'view_buses' %}">Bus</a></li>
            <li><a class="dropdown-item" href="{% url 'view_stops' %}">Stop</a></li>
            <li><a class="dropdown-item" href="{% url 'view_routes' %}">Routes</a></li>
            <li><a class="dropdown-item" href="{% url 'view_schedules' %}">Schedules</a></li>
            <li><a class="dropdown-item" href="{% url 'view_drivers' %}">Drivers</a></li>
            

              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        {% endif %}

        <!-- End Site management -->


        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>